APP_NAME=PaymentApi
APP_ENV=local
APP_KEY=y3DLxnEczGWGN4CKUdk1S5GbMumU2dfH
APP_DEBUG=true
APP_URL=http://localhost
APP_TIMEZONE=UTC

LOG_CHANNEL=stack
LOG_SLACK_WEBHOOK_URL=

DB_CONNECTION=mysql
DB_HOST=db
DB_PORT=3306
DB_DATABASE=payment-api
DB_USERNAME=root
DB_PASSWORD=root

CACHE_DRIVER=file
QUEUE_CONNECTION=sync

JWT_SECRET=xBz0BFE6soGjmEJhjPzRfIbG0Gh07kmhqhrDn1vRoEFsCMB543xUz11Zl1tS7LHe

PAYMENT_CHECK_API_URL=https://run.mocky.io/v3/8fafdd68-a090-496f-8c9a-3442cf30dae6
NOTIFICATION_API_URL=http://o4d9z.mocklab.io/notify
